<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sjoel robot</title>
    <style>
        body {
            margin: 0;
        }

        #container {
            display: flex;
            width: 100vw;
            height: 100vh;
        }

        #container > * {
            width: 100%;
            height: 100%;
        }

        button {
            font-size: 2em;
            width: 100%;
            height: 100%;
        }

        #logs {
            overflow: hidden;
            height: 100%;
            max-width: 10%;
        }
    </style>

</head>
<body>
<div id="container">
    <div>
        <button onclick="left()">
            Links
        </button>
    </div>
    <div>
        <button onclick="fire()">
            Schieten
        </button>
    </div>
    <div>
        <button onclick="right()">
            Rechts
        </button>
    </div>
    <div id="logs"></div>
</div>
<script>
    const logs = []

    async function left(){
        const response = await fetch('left')
        logs.unshift((await response.text()))
        update()
    }

    async function right() {
        const response = await fetch('right')
        console.log(response)
        logs.unshift((await response.text()))
        update()
    }

    async function fire() {
        const response = await fetch('fire')
        console.log(response)
        logs.unshift((await response.text()))
        update()
    }

    function update() {
        document.getElementById('logs').innerHTML = logs.join('<br/>')
    }
</script>
</body>
</html>